.main_nav_block
    .close_block
        .close_btn
            <i class="fas fa-times"></i>
    .navigation_block
        p.title Страницы
        ul#main_nav
            
    .cart_block
        p.title Корзина

